[Desktop Entry]
Categories=Utility;WebUtility;
Encoding=UTF-8
Type=Application
MimeType=image/png;image/jpeg;image/gif;
Name=Upload to ITmages
Name[ru]=Загрузить на ITmages
GenericName=Upload images to ITmages
GenericName[ru]=Загрузить изображения на ITmages
Exec=itmages-dolphin-extension %U
Icon=itmages.svg
